.cnt {
  padding-top: 10px;
}
h2 {
  color: aliceblue;
  margin-top: 1rem;
  text-align: center;
}
#noMovies {
  color: aliceblue;
  font-weight: bold;
  margin: auto;
  margin-top: 1rem;
  font-size: 3rem;
}
#eliminar {
  background: lemonchiffon !important;
  color: lightcoral;
}
